{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Hunt Clone</title>
</head>
<hr>
<body>
    {% for product in products.all %}
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-2" onclick="window.location='{% url 'detail' product.id %}'" style="cursor: pointer;">
                <img width="250" src="{{ product.icon.url }}" class="img-fluid"/>
            </div>
            <div class="col-8">
                <h1>{{ product.title }}</h1>
                <p>{{ product.summary }}... <a href="{% url 'detail' product.id %}">Read more</a></p>
            </div>
            <div class="col-2">
                <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}">
                    <button class="btn btn-primary btn-lg">
                        <span class="oi oi-arrow-thick-top"></span><br>Upvote {{ product.votes_total }}
                    </button>
                </a>
            </div>
      </div>
        <hr>
    </div>
    <form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden">
    </form>
    {% endfor %}

</body>
</html>
{% endblock %}